body{
    background-color: #2a2a2a;
}

main{
    display:flex;
    justify-content: center;
    align-items: center;
}

form{
    display:flex;
    justify-content: center;
    width:100%;
    /* border: 1px solid red; */
}

header{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:15%;
    margin-bottom:5%;
    font-family: "Arial Black", sans-serif;
    font-size: 4.5em;
    letter-spacing: -1px;
    color: #9c27b0;
    text-shadow:4px 4px #62196f;
}

fieldset{
    border-color: #9c27b0;
    border-style: solid;
    box-shadow: 4px 4px #62196f;
    margin:1%;
}

fieldset > input{
    text-align: center;
}

legend{
    font-family: "Arial Black", sans-serif;
    font-size: 1em;
    letter-spacing: -1px;
    color: #9c27b0;
    text-shadow:2px 2px #62196f;    
}

.cadre-container{
    display:flex;
    padding:5px;
    width:10em;
    text-align: center;
    overflow: hidden;
}

.cadre-container-selection{
    display:flex;
    padding:5px;
    width:15em;
    text-align: center;
    overflow: hidden;
}

.cadre-container-selection > fieldset{
    min-width: 0; 
    width: 100%; 
}

.cadre{
    display:flex;
    height:6em;
    width:50%;
    margin:10px;
}

.de1{
    background: url('https://upload.wikimedia.org/wikipedia/commons/2/2c/Alea_1.png') no-repeat;
    background-size: 100%;
}

.de2{
    background: url('https://upload.wikimedia.org/wikipedia/commons/b/b8/Alea_2.png') no-repeat;
    background-size: 100%;
}

.de3{
    background: url('https://upload.wikimedia.org/wikipedia/commons/2/2f/Alea_3.png') no-repeat;
    background-size: 100%;
}

.de4{
    background: url('https://upload.wikimedia.org/wikipedia/commons/8/8d/Alea_4.png') no-repeat;
    background-size: 100%;
}

.de5{
    background: url('https://upload.wikimedia.org/wikipedia/commons/5/55/Alea_5.png') no-repeat;
    background-size: 100%;
}

.de6{
    background: url('https://upload.wikimedia.org/wikipedia/commons/f/f4/Alea_6.png') no-repeat;
    background-size: 100%;
}

#field-debut-partie{
    display:flex;
    flex-direction: column;
}

#field-debut-partie > input{
    margin:2%;
    padding: 0.4em 0.9em;
}

#field-lancer-des{
    display:flex;
    flex-direction: column;
    /* border: 1px solid red; */
    justify-content: center;
    align-items: center;
}

#field-lancer-des > input{
    display:flex;
    width:100%;
    align-items: center;
    justify-content: center;
}

#field-selection-premier-joueur > input{
    width:100%;
}